/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

.slide-top-enter-active, .slide-top-enter {
    animation: slide-top .5s;
}
.slide-top-leave-active, slide-top-leave {
    animation: slide-top .5s reverse;
}
@keyframes slide-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
